<div id="dimScreen" class="rcorners">
  <h1>Information on {{ me.hotel.name }} <hotel-rating> stars="me.stars"</hotel-rating></h1>
  <p>{{ me.hotel.location.address }}</p>
  <p>{{ me.hotel.description }}</p>
  <p>This Hotel offers following services: </p>
  <ul>
    <li ng-repeat="service in me.hotel.services">{{ service }}</li>
  </ul>
  <h2>Reviews</h2>
  <ul>
    <li ng-repeat="review in me.hotel.reviews">{{ review.name }} says: {{ review.review }}</li>
  </ul>
  <div ng-controller="loginController as lc">
    <form name="me.reviewForm" ng-submit="me.addReview()" class="form-inline my-2 my-lg-0" ng-show="lc.isLoggedIn()">
      <div class="row">
      <div class="form-group">
        <input type="number" placeholder="Rating (1-5)" class="form-control mr-sm-2" name="rating" required ng-pattern="/^[0-5]$/" ng-model="me.rating">
        <br/>
        <div class="form-group" ng-show="me.reviewForm.rating.$dirty && me.reviewForm.rating.$invalid && me.isSubmitted">
          <p style="color: red; padding-left: 10px">*Rating should be between 0-5 </p>
        </div>
      </div>
      <div class="form-group">
        <textarea name="review" placeholder="Review" class="form-control mr-sm-2" required ng-model="me.review"></textarea>
        <br/>
        <div class="form-group" ng-show="me.reviewForm.review.$dirty && me.isSubmitted">
          <p style="color: red; padding-left: 10px">*Please add a review</p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Add Review</button>
      </div>
    </div>
    </form>
  </div>
</div>
