<nav ng-controller="loginController as me" class="navbar navbar-default navbar-fixed-top" ng-init="me.init()">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#!/">MeanHotel</a>
   </div>
   <div id="navbar" class="collapse navbar-collapse">
     <ul class="nav navbar-nav">
       <li ng-class="me.isActiveTab('')" class="active"><a href="#!/">Home</a></li>
       <li ng-class="me.isActiveTab('hotels')"><a href="#!/hotels">Hotels</a></li>
       <li ng-class="me.isActiveTab('register')" ng-if="!me.isLoggedIn()"><a href="#!/register">Register</a></li>
       <li ng-class="me.isActiveTab('profile')" ng-if="me.isLoggedIn()"><a href="#!/profile">Profile</a></li>
     </ul>
     <form ng-if="!me.isLoggedIn()" class="navbar-form navbar-right" role="login" ng-submit="me.login()">
      <div class="form-group" ng-class="{'has-error': me.error}">
        <input type="text" class="form-control input-sm" placeholder="Username" ng-model="me.userName" autocapitalize="none">
      </div>
      <div class="form-group" ng-class="{'has-error': me.error}">
        <input type="password" class="form-control input-sm" placeholder="Password" ng-model="me.password" autocapitalize="none">
      </div>
      <button type="submit" class="btn btn-sm btn-success">Login</button>
    </form>
    <ul ng-if="me.isLoggedIn()" class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Welcome back {{ me.loggedInUser }}</p></li>
      <li><button class="navbar-btn btn-sm btn-info" ng-click="me.logout()">Logout</button></li>
    </ul>
   </div>
 </div>
</nav>
