<nav ng-controller="loginController as me" class="navbar navbar-inverse bg-inverse" ng-init="me.init()">
  <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarText" aria-expanded="false" aria-controls="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <a class="navbar-brand" href="#!/">Find your Hotel</a>
   <div class="collapse navbar-collapse" id="navbarText">
     <ul class="navbar-nav mr-auto">
       <li ng-class="me.isActiveTab('')" class="nav-item active"><a class="nav-link" href="#!/">Home</a></li>
       <li ng-class="me.isActiveTab('hotels')" class="nav-item"><a class="nav-link" href="#!/hotels">Hotels</a></li>
       <li ng-class="me.isActiveTab('register')" ng-if="!me.isLoggedIn()" class="nav-item"><a class="nav-link" href="#!/register">Register</a></li>
       <li ng-class="me.isActiveTab('profile')" ng-if="me.isLoggedIn()" class="nav-item"><a class="nav-link" href="#!/profile">Profile</a></li>
       <li ng-class="me.isActiveTab('profile')" ng-if="me.isLoggedIn()" class="nav-item"><a class="nav-link" href="#!/addHotel">Add a Hotel</a></li>
     </ul>
     <form ng-if="!me.isLoggedIn()" class="form-inline my-2 my-lg-0" role="login" ng-submit="me.login()">
      <div class="form-group" ng-class="{'has-error': me.error}">
        <input type="text" class="form-control mr-sm-2" placeholder="Username" ng-model="me.userName" autocapitalize="none">
      </div>
      <div class="form-group" ng-class="{'has-error': me.error}">
        <input type="password" class="form-control mr-sm-2" placeholder="Password" ng-model="me.password" autocapitalize="none">
      </div>
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Login</button>
    </form>
    <ul ng-if="me.isLoggedIn()" class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Welcome back {{ me.loggedInUser }}</p></li>
      <li><button class="btn btn-outline-danger my-2 my-sm-0" ng-click="me.logout()">Logout</button></li>
    </ul>
   </div>
</nav>
<script>$(document).on('click', function(){
    $('.navbar-collapse').collapse('hide');
});</script>
