html {
  position: relative;
  min-height: 100%;
}
body {
  background-image: url("../images/hotelbg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.img-blur {
  background-image: url("../images/hotel1.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
}
body > .container {
  padding-top: 60px;
}
.padded {
  padding-top: 30px
}
.carousel-indicators li {
  background-color: orangered;
}
.carousel-indicators .active {
  background-color: #444;
}
#dimScreen
{
    position:relative;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background:rgba(255,255,255,0.8);
}
.rcorners {
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    height: 150px;
}
